<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/static/homeP.css" />
    <title>File Query</title>
  </head>

  <body>
    <div id="head">
      <p>File Query with Upload</p>
    </div>
    <div id="fm">
      <form
        action="/query"
        class="fm1"
        id="f1"
        method="POST"
        enctype="multipart/form-data"
      >
        <h1>Upload your logs</h1>
        <h4>{{ msg }}</h4>
        <input type="file" name="file" id="file" hidden />
        <label for="file" id="selector">Select file</label>
        <input class="at sub" type="submit" name="submit1" />
      </form>
    </div>
    <script src="/static/homeJS.js"></script>
  </body>
</html>
