<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/static/queryP.css"
    />
    <title>Purge Warehoue</title>
  </head>
  <body>
    <div id="head">
      <p>Purge Warehouse
      </p>
    </div>
    <div id="fm">
      <form action="/purgewarehouse" method="POST" class="fm1" id="f2" target="_blank">
        <h1>Upload your details</h1>
        <br />
        <input class="at" type="text" name="RequestTime" placeholder="Request Time" />

        <input class="at sub" type="submit" name="submit2"  />
      </form>
    </div>
  </body>
</html>
